@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: #111;
    color: #fff;
    font-family: Gilroy;
}


.textarea-hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  
  .textarea-hide-scrollbar::-webkit-scrollbar {
    display: none;  
  }

  
  